.todo {
  margin-top: 5em;
  margin-bottom: 2em;
  .todo-item {
    margin-bottom: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3,
    button {
      display: inline-block;
    }
    button {
      background-color: $grey;
      border: none;
      padding: 0.75em;
      border-radius: 10px;

      margin: 0 0.5em;
      transition-duration: 0.3s;
      transition: all ease linear;
      cursor: pointer;
      .fa-check,
      .fa-trash {
        color: white;
      }
    }
    .trash {
      .fa-trash {
        color: orange;
      }
    }

    button:hover {
      opacity: 0.8;
      transition-duration: 0.3s;
      transition: all ease linear;
    }
    h3 {
      max-width: 30rem;
      overflow: hidden;
      font-size: 3rem;
      font-family: $Josh;
      color: #181818;
    }
  }
  .canvas-element {
    margin-top: 2em;

    canvas {
      position: relative;
      border: 1px solid #181818;
      margin: 1em 0;
    }
    .canvas-btns {
      display: flex;
      flex-direction: row;
    }
    button {
      background-color: $grey;
      border: none;
      padding: 0.75em;
      border-radius: 10px;

      margin: 0 0.5em;
      transition-duration: 0.3s;
      transition: all ease linear;
      cursor: pointer;
      .fa-check {
        color: green;
      }
      .fa-repeat {
        color: #80ffdb;
      }
    }
  }
}
.todo-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.canvas_and_date {
  width: 100%;
  justify-content: center;
  align-items: center;
  .time-input {
    padding-left: 5em;
    margin-top: 2em;
    input {
      padding: 1em;
      width: 13rem;
      padding: 12px;
      border: 1px solid #181818;
      border-radius: 5px;
      box-sizing: border-box;
      resize: vertical;
      color: #181818;
      font-family: $Josh;
      letter-spacing: 1px;
      margin: 3em 0;
    }
    button {
      background-color: $grey;
      border: none;
      padding: 1em;
      border-radius: 10px;
      transition-duration: 0.3s;
      transition: all ease linear;
      cursor: pointer;
      color: white;
      font-family: $Mont;
    }
  }
  .canvas-element {
    padding-right: 5em;
  }
}
h5 {
  text-align: center;
  font-size: 1rem;
  color: #181818;
  font-weight: 300;
  font-family: $Mont;
}
button:hover {
  opacity: 0.8;
  transition-duration: 0.3s;
  transition: all ease linear;
}
h6 {
  font-family: $Mont;
  font-weight: 300;
}
.notification-awesome {
  background-color: #685dc3;
  border-left: 8px solid darken(#685dc3, 15%);
  font-family: $Mont;
  letter-spacing: 1px;
}
.notification-delete {
  background-color: #555b6e;
  border-left: 8px solid darken(#555b6e, 15%);
  font-family: $Mont;
  letter-spacing: 1px;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #181818;
  margin-top: 5em;
}
