//importing fonts

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Montserrat:wght@300;800&display=swap");

// colors

$grey: #222222;
$black: #000000;
$white: #ffffff;
$orange: #fd5825;
$cream: #f7efe5;

// fonts

$Mont: "Montserrat";
$Josh: "Josefin Sans";

// breakpoints

$desktop: 1500px;
$minidesktop: 1100px;
$bigtab: 938px;
$tab: 800px;
$phone: 500px;
